{% extends 'base.html' %}
<!-- For title -->
{% block title %}
{% endblock %}
<!-- For style -->
{% block stylesheet %}
{% endblock %}

<!-- for profile -->
{% block profile %}
{% endblock %}

<!-- for Contan -->
{% block content %}
 
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Log In Your Account</h3>
                </div>
                <div class="panel-body">
                        {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input type="text" name="user" class="form-control" id="exampleInputEmail1" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="pass" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                                
                        <button type="submit" class="btn btn-default">Login</button>
                     </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

<!-- for javascript -->
{% block script %}
{% endblock %}

